# Homework for week 1

## Question 1

```docker build --help | grep "Write the image ID to the file"```

answer: --iidfile string

## Question 2

```
docker run -it --entrypoint /bin/bash python:3.9
pip list
```

answer: 3

## Question 3

```
python ingest_data.py --user=root --password=root --host=localhost --port=5432 --db=ny_taxi --table-name=green_taxi_trips --url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"

python ingest_data.py --user=root --password=root --host=localhost --port=5432 --db=ny_taxi --table-name=taxi_zones --url="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
```

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [2]:
import pandas as pd

In [7]:
query = 'SELECT COUNT(1) from green_taxi_trips'
pd.read_sql(query, con=engine)

    count
0  630918

In [8]:
query = """
select COUNT(1) from green_taxi_trips 
where lpep_pickup_datetime::date = '2019-01-15' 
and lpep_dropoff_datetime:: date = '2019-01-15'
"""
pd.read_sql(query, con=engine)

   count
0  20530

answer: 20530

## Question 4

In [9]:
query = """
select lpep_dropoff_datetime::date, max(trip_distance)
from green_taxi_trips 
group by lpep_dropoff_datetime::date
order by max(trip_distance) desc limit 1;
"""
pd.read_sql(query, con=engine)

  lpep_dropoff_datetime     max
0            2019-01-15  117.99

answer: 2019-01-15

## Question 5

In [21]:
query = """
select passenger_count, count(1)
from green_taxi_trips 
where lpep_pickup_datetime::date = '2019-01-01' 
and passenger_count between 2 and 3
group by passenger_count
"""
pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

answer: 2: 1282, 3: 254

## Question 6

In [22]:
query = """
select z_drop."Zone", max(tip_amount)
from green_taxi_trips g 
join taxi_zones z_pick on g."PULocationID" = z_pick."LocationID"
join taxi_zones z_drop on g."DOLocationID" = z_drop."LocationID"
where z_pick."Zone" = 'Astoria' 
group by z_drop."Zone" 
order by max(tip_amount)
desc limit 1;
"""
pd.read_sql(query, con=engine)

                            Zone   max
0  Long Island City/Queens Plaza  88.0

Answer: Long Island City/Queens Plaza