In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [3]:
df.shape

(100, 18)

In [4]:
df.head().style.background_gradient(cmap='Blues')

In [5]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

```
docker run -it -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" -e POSTGRES_DB="ny_taxi" -v ~/DE_Zoomcamp_2023/week_1/ny_taxi_postgres_data:/var/lib/postgresql/data -p 5432:5432 postgres:13

pgcli -h localhost -p 5432 root -d ny_taxi
```

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [2]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100_000)

In [12]:
df_iter

In [3]:
df = next(df_iter)

In [5]:
df.head().dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [13]:
df = next(df_iter)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [14]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [16]:
from time import time

In [17]:
for df in df_iter:
    t_start = time()
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'inserted chunk, time {t_end-t_start:4f} seconds')

inserted chunk, time 7.714792 seconds
inserted chunk, time 7.953863 seconds
inserted chunk, time 7.568492 seconds
inserted chunk, time 6.014639 seconds
inserted chunk, time 6.187971 seconds
inserted chunk, time 6.014071 seconds
inserted chunk, time 6.146621 seconds
inserted chunk, time 6.710600 seconds
inserted chunk, time 6.634722 seconds
inserted chunk, time 6.293254 seconds
inserted chunk, time 6.207609 seconds

/tmp/ipykernel_473/3853477191.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted chunk, time 6.235154 seconds
inserted chunk, time 3.846456 seconds

In [18]:
query = 'SELECT COUNT(1) from yellow_taxi_data'
pd.read_sql(query, con=engine)

     count
0  1369765

In [21]:
query = """
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE 
   table_name = 'yellow_taxi_data';
"""
pd.read_sql(query, con=engine)

          table_name            column_name                    data_type
0   yellow_taxi_data   congestion_surcharge             double precision
1   yellow_taxi_data               VendorID                       bigint
2   yellow_taxi_data   tpep_pickup_datetime  timestamp without time zone
3   yellow_taxi_data  tpep_dropoff_datetime  timestamp without time zone
4   yellow_taxi_data        passenger_count                       bigint
5   yellow_taxi_data          trip_distance             double precision
6   yellow_taxi_data             RatecodeID                       bigint
7   yellow_taxi_data                  index                       bigint
8   yellow_taxi_data           PULocationID                       bigint
9   yellow_taxi_data           DOLocationID                       bigint
10  yellow_taxi_data           payment_type                       bigint
11  yellow_taxi_data            fare_amount             double precision
12  yellow_taxi_data                  extra             double precision
13  yellow_taxi_data                mta_tax             double precision
14  yellow_taxi_data             tip_amount             double precision
15  yellow_taxi_data           tolls_amount             double precision
16  yellow_taxi_data  improvement_surcharge             double precision
17  yellow_taxi_data           total_amount             double precision
18  yellow_taxi_data     store_and_fwd_flag                         text

In [22]:
query = """
SELECT * FROM yellow_taxi_data LIMIT 10;
"""
pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

Running postgres and pgadmin together

```
docker run -it \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="ny_taxi" \
  -v ~/DE_Zoomcamp_2023/week_1/data/ny_taxi_postgres_data:/var/lib/postgresql/data \
  -p 5432:5432 \
  --network=pg-network \
  --name pg-database \
  postgres:13

  docker run -it \
  -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" \
  -e PGADMIN_DEFAULT_PASSWORD="root" \
  -p 8080:80 \
  --network=pg-network \
  --name pgadmin-2 \
  dpage/pgadmin4
```

```
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

python ingest_data.py --user=root --password=root --host=localhost --port=5432 \
  --db=ny_taxi --table_name=yellow_taxi_trips --url=${URL}
  ```

```docker run -it --network=pg-network taxi_ingest:v001 --user=root --password=root --host=pg-database --port=5432 --db=ny_taxi --table-name=yellow_taxi_trips --url=$URL```